---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/locations/v1/cities/search?apikey=<WEATHER_API_KEY>&q=Moscow+Russia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '50'
      ratelimit-remaining:
      - '41'
      akamai-grn:
      - 0.0f9eca17.1724197809.1b35e420
    body:
      encoding: UTF-8
      string: '[{"Version":1,"Key":"<%= temp.external_location_id %>","Type":"City","Rank":10,"LocalizedName":"Moscow","EnglishName":"Moscow","PrimaryPostalCode":"","Region":{"ID":"ASI","LocalizedName":"Asia","EnglishName":"Asia"},"Country":{"ID":"RU","LocalizedName":"Russia","EnglishName":"Russia"},"AdministrativeArea":{"ID":"MOW","LocalizedName":"Moscow","EnglishName":"Moscow","Level":1,"LocalizedType":"Federal
        City","EnglishType":"Federal City","CountryID":"RU"},"TimeZone":{"Code":"MSK","Name":"Europe/Moscow","GmtOffset":3.0,"IsDaylightSaving":false,"NextOffsetChange":null},"GeoPosition":{"Latitude":55.752,"Longitude":37.619,"Elevation":{"Metric":{"Value":155.0,"Unit":"m","UnitType":5},"Imperial":{"Value":508.0,"Unit":"ft","UnitType":0}}},"IsAlias":false,"SupplementalAdminAreas":[{"Level":2,"LocalizedName":"Tsentralny","EnglishName":"Tsentralny"}],"DataSets":["AirQualityCurrentConditions","AirQualityForecasts","Alerts","DailyPollenForecast","ForecastConfidence","FutureRadar","MinuteCast"]}]'
  recorded_at: Wed, 21 Aug 2024 02:49:53 GMT
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/<%= temp.external_location_id %>/historical/24?apikey=<WEATHER_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '50'
      ratelimit-remaining:
      - '41'
      akamai-grn:
      - 0.509eca17.1724197809.957a28b
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-08-21T01:58:00+03:00","EpochTime":<%= temp.epoch_time %>,"WeatherText":"Clear","WeatherIcon":33,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":<%= temp.metric_value %>,"Unit":"<%= temp.metric_unit %>","UnitType":17},"Imperial":{"Value":59.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us","Link":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us"},{"LocalObservationDateTime":"2024-08-21T00:58:00+03:00","EpochTime":<%= temp.epoch_time %>,"WeatherText":"Clear","WeatherIcon":33,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":<%= temp.metric_value %>,"Unit":"<%= temp.metric_unit %>","UnitType":17},"Imperial":{"Value":63.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/moscow/294021[...]
